In [11]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [20]:
df.index.names = ['Groups','Num']

In [21]:
df

                   A         B
Groups Num
G1     1   -1.505625 -0.111369
       2    0.453406  0.634174
       3   -1.689614  0.739375
G2     1    1.625163 -0.581914
       2    1.178081 -1.446868
       3    1.775332 -0.604757

In [25]:
df.loc['G2'].loc[2]['B']

-1.4468682399600201

In [26]:
df.xs(1,level='Num')

               A         B
Groups
G1     -1.505625 -0.111369
G2      1.625163 -0.581914